* {
  margin: 0;
  padding: 0;
}

.hero-content {
  height: 100vh;
  margin-top: 2rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;

  .carousel {
    margin-left: 7%;
  }

  .waviy {
    border: 1px solid #000;
    position: relative;
    padding: 1rem;
    border-radius: 10px;
    background-color: #000;
    span {
      position: relative;
      display: inline-block;
      font-size: 50px;
      font-weight: 900;
      color: #cb0000;
      text-transform: uppercase;
      animation: flip 2s infinite;
      animation-delay: calc(0.2s * var(--i));
    }
    .spacial {
      margin-left: 1rem;
      color: #fff;
    }
    @keyframes flip {
      0%,
      80% {
        transform: rotateY(360deg);
      }
    }
  }
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  .form-heading {
    font-size: 40px;
    font-family: 'Arial Narrow Bold', sans-serif;
    font-weight: bolder;
    color: #cb0000;
  }
  Button{
    background-color: #cb0000;
    padding: 0.6rem 3rem;
  }
}
